<?xml version="1.0" ?>
<!--https://blog.csdn.net/swadian2008/article/details/106501641 认识不同结点的意义-->
<configuration debug="false">
    <!--控制台日志 -->
    <!--  ConsoleAppender 表示控制台输出日志  -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder  对日志输出的内容进行格式化  -->
        <encoder>
            <pattern>
                <!--日志输出格式-->
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %logger - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- INFO级别日志,记录INFO级别及比INFO更高级别的日志-->
    <!--  RollingFileAppender 表示用文件的方式存储日志  -->
    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
        </filter>

        <!-- <append>：如果是 true，日志被追加到文件结尾，如果是 false，清空现存文件，默认是true。       -->
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                <!--日志引文件路径-->
                ..\logs\%d{yyyy-MM-dd}\dp.log
            </fileNamePattern>
            <!-- 日志保存15天，超过15天自动删除 -->
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                <!--日志输出格式-->
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %logger - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- ERROR级别日志,只记录Error级别日志 -->
    <!--  RollingFileAppender 表示用文件的方式存储日志  -->
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 过滤器,只记录ERROR级别的日志,如果日志级别等于配置级别，过滤器会根据onMath 和 onMismatch接收或拒绝日志 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <!-- onMatch="ACCEPT" 表示匹配该级别及以上   -->
            <onMatch>ACCEPT</onMatch>
            <!-- onMismatch="DENY" 表示不匹配该级别以下的   -->
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                <!--日志文件路径-->
                ..\logs\%d{yyyy-MM-dd}\dp.error.log
            </fileNamePattern>
            <!-- 日志保存15天，超过15天自动删除 -->
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                <!--日志输出格式-->
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %logger - %msg%n
            </pattern>
        </encoder>
    </appender>

<!--    <root>-->
<!--        &lt;!&ndash; 日志级别 &ndash;&gt;-->
<!--        &lt;!&ndash; level 标签表示把>=DEBUG级别的日志都输出到控制台&ndash;&gt;-->
<!--        <level value="INFO"/>-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--        <appender-ref ref="INFO"/>-->
<!--        <appender-ref ref="ERROR"/>-->
<!--    </root>-->


    <!--
           设置不同环境的logback配置
           <springProfile name=""> 指定对应环境
           与 application.properties内的 spring.profiles.active配置相对应
           参考文章：https://www.jianshu.com/p/3c2c26dfad73
    -->
    <springProfile name="prod">
        <root>
            <level value="INFO"/>
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="INFO"/>
            <appender-ref ref="ERROR"/>
        </root>
    </springProfile>
    <springProfile name="dev, test">
        <logger name="com.example.mybatisplusdemo" level="INFO" />
        <root>
            <level value="INFO"/>
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="INFO"/>
            <appender-ref ref="ERROR"/>
        </root>
    </springProfile>


</configuration>